body {font-family: 'Times New Roman', Times, serif;}
.container {
  width: 100%;
  background-color:gainsboro;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom:5px;
}

.container a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
}

.first{

  width: 50%;
  padding: 10 px;
  border: 2px solid;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.second{
  width: 50%;
  padding: 10 px;
  border: 2px solid;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}
.main{

  display: flex;
  gap:10px;
  
}

.foot {
  height: 20px;
  text-align: center;
  background-color:  rgb(174, 185, 185);
  align-items: center;
}

@media (max-width: 700px) {
  .container {
    display: block;
    height: 140px;
  }
  .main {
    display: block;
    
  }
  .first,
  .second {
    width: 100%;
    
  }
}